@media screen and (max-width: 1200px){
    .grid_container_numbers{
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
    }

    .numbers{
        position: relative;
        max-width: 900px;
        padding: 67px;
    }
}