@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;500;700&display=swap');

*, *::after, :hover{
    box-sizing: border-box;
}

:root{
    --accent: #F7654A;
    --dark: #404149;
    --gray: #999999;
    --white: #FFFFFF;
    --black: #000;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.container{
    max-width: 1110px;
    margin: 0 auto;
}

/* Блок header */

.header{
    max-width: 100%;
    background-image: url(../img/Rectangle.png);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.burger__btn{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 50px;
    height: 50px;
    border-radius: 2px;
    background-color: var(--accent);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.burger__btn > .line{
    width: 21px;
    height: 4px;
    background-color: var(--white);
}

/* Заголовок и описание в header */

.header__title{
    max-width: 734px;
    text-align: center;
    margin: 0 auto;
    padding: 112px 0 320px 0;
}

.section__title{
    font-size: 64px;
    color: var(--white);
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
    letter-spacing: 1.28px;
}

.header__slogan{
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    font-style: normal;
    text-transform: uppercase;
}

/* Стили для section с классом content */

.wrapper{
    position: relative;
}

.numbers{
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    max-width: 1110px;
    width: 100%;
    min-height: 300px;
    background-color: #f7f7f7;
    z-index: 5;
    padding: 65px 130px;
    justify-content: center;
}

.grid_container_numbers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
}

.item{
    text-align: center;
    width: 190px;
}

.count{
    color: var(--accent);
    font-size: 72px;
    font-weight: 500;
    margin-bottom: 30px;
}

.years{
    color: var(--black);
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
}

.info__item{
    color: var(--gray);
    font-size: 18px;
    font-weight: 500;
}

.about__projects {
    padding-top: 250px;
}

.about__title{
    color: var(--dark);
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 60px;
}

.grid__about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid__img-item {
    padding-bottom: 45px;

}
.grid__line-item {
    width: 55px;
    height: 6px;
    background-color: var(--accent);
}
.grid__title-item {
    color: var(--dark);
    font-size: 24px;
    font-weight: 500;
    padding: 15px 0 20px;
}
.grid__desc-item {
    font-family: 'Open Sans', sans-serif;
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    max-width: 350px;
}

.request{
    background-color: var(--accent);
    margin-top: 150px;
}

.communications__block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}

.communications__title {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.communications__desc {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.communications__btn {
    background-color: #fff;
    padding: 14px 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.7px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.communications__btn:hover{
    background-color: #d6d4d4;
}

.communications__btn-img{
    padding-right: 15px;
}

.bloc__services {
    padding-top: 150px;
}
.block__services-title {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
}
.grid__container__services {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    row-gap: 30px;
    padding-top: 66px;
    justify-content: center;
}
.grid__container-item{
    background-color: #f7f7f7;
    text-align: center;
    justify-self: center;
    padding: 59px 68px;
}
.grid__container-img {
    padding-bottom: 30px;
}
.grid__container-title {
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0.42px;
    width: 172px;
}

.portfolio{
    max-width: 100%;
}

.grid__portfolio{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-items: center;
    gap: 0;
}

.grid__portfolio-item{
    align-items: center;
}

.grid__portfolio-item > img{
    
}